- @page_title = "Staffing Jobs with Integrity"

%section.first
  .row
    .eight.columns
      %hgroup
        %h1
          Our Mission at JSA Search is to Help You Succeed with the Right Job Placement
    .four.columns
      = render :partial => 'shared/public/social_links'

%section.employers
  .row
    .four.columns
      .point
        = image_tag "https://s3.amazonaws.com/new-assets.jsasearch.net/employer-small.jpg", :alt => "JSA for Employers"
    .eight.columns
      %h3
        Committed to Our Clients
      %p
        We use all of our resources to present you the highest qualified and most well matched candidates. Throughout the placement process, we always follow through to make sure your expectations are exceeded.

%section.employers.odd
  .row
    .four.columns
      .point
        = image_tag "https://s3.amazonaws.com/new-assets.jsasearch.net/candidate-small.jpg", :alt => "JSA for Candidates"
    .eight.columns
      %h3 Committed to Our Job Candidates
      %p Your career move should be the right change for both your professional and personal life. We are committed to working with you so you can find the right job and reach your full potential.

%section.employers
  .row
    .four.columns
      .point
        = image_tag "https://s3.amazonaws.com/new-assets.jsasearch.net/retirement-home.jpg", :alt => "JSA for Healthcare Residents"
    .eight.columns
      %h3 Committed to Bettering Healthcare Staffing
      %p At JSA SEARCH INC., we make sure the healthcare professionals we place are the right match for your healthcare facility. Our staff actively volunteers in local nursing homes. This helps us remember what we do here at JSA affects the residents in your facility.
