- @page_title = "Career Advice For Job Candidates"

%section.first
  .row
    .eight.columns
      %hgroup.call 
        %h1
          Helpful Tips to Help You Land Your Best Job Ever
    .four.columns
      = render :partial => 'shared/public/social_links'

%section.employers
  .row
    .four.columns.push-eight
      = render :partial => "shared/candidate_nav"
      .faq_helper
        %h4 Jump to a FAQ
        %ul 
          %li
            %a{:href => "#q1"} Guidance for Your Career          
          %li
            %a{:href => "#q2"} Interviewing For The New Job Market
          %li
            %a{:href => "#q3"} Interviewing Strategies 
          %li
            %a{:href => "#q4"} During the Interview              
          %li
            %a{:href => "#q5"} After the Interview                                            
          %li
            %a{:href => "#q6"} Illegal Questions       
          %li
            %a{:href => "#q7"} Negotiating Your Compensation Package
          %li
            %a{:href => "#q8"} How Do You Find Salary Information?
          %li
            %a{:href => "#q9"} Second Interview / The Negotiation Meeting
        
    .eight.columns.pull-four           
      %h3{:id => "q1"} Guidance for Your Career
      %p JSA SEARCH INC., is committed to your success as one of our candidates. The information we share with you is gleaned from collective decades of experience in healthcare recruiting and staffing for the successful long and short-term placement of our candidates.
      %p We want to be your strongest advocate to your future employer. Walking with you through each step of the interview and hiring process allows us to provide you with the necessary guidance and support for your success.
      
      %h3{:id => "q2"} Interviewing For The New Job Market
      
      %h5 Who Gets Hired? 
      %p In the final analysis, employers hire someone with the talent and tools to fulfill their needs. It is up to you to demonstrate at the interview that you are the person they want.
      
      %h5 Types of Interviews
      %p There are several types of interviews you may encounter. You probably won't know in advance which type you will face. Below are some descriptions of different interviews types and what you can expect in each of them.  
      
      %h5 Screening Interview
      %p
        A preliminary interview, either in person or by phone, in which a company representative determines if you have the basic qualifications.
        
      %h5 Structured Interview 
      %p 
        In a structured interview, the interviewer explores predetermined areas using predetermined questions. The interviewer measurers your responses against a written description of the experience, skills, and personality traits of an ideal candidate. Most traditional interviews are based on this format. 
        
      %p
        Although the interviewer is given a written description of the ideal candidate, in the unstructured interview, the interviewer is not given instructions on specific areas to cover.
        
      %h5 Unstructured Interview
      %p
        Although the interviewer is given a written description of the ideal candidate, in the unstructured interview, the interviewer is not given 
        instructions on what specific areas to cover.
        
      %h5 Multiple Interviews
      %p
        Multiple interviews are commonly used with professional jobs. This approach involves a series of interviews during which you meet individually with various representatives of the organization. In the initial interview, the representative usually attempts to get basic information on your skills and abilities.
      %p 
        In subsequent interviews, the focus is on how you would perform the job in relation to the company's goals and objectives. After the interviews are completed, the interviewers meet and pool their information about your qualifications for the job. A variation of this approach involves a series of interviews in which unsuitable candidates are screened out at each succeeding level.

      %h5 Stress Interview
      %p
        The interviewer intentionally attempts to upset you to see how you react under pressure. You may be asked questions that make you uncomfortable or you may be interrupted when you are speaking. Although it is uncommon for an entire interview to be conducted under stress conditions, it is common for the interviewer to incorporate stress questions as part of a traditional interview. 

      %h5 Targeted Interview
      %p
        Although similar to the structured interview, the areas covered are much more limited. Key qualifications for success on the job are identified and relevant questions are prepared in advance.

      %h5 Situational Interview
      %p
        Situations are set up which simulate common problems you may encounter on the job. Your responses to these situations are measured against pre-determined standards. This approach is often used as one part of a traditional interview rather than as an entire interview format.
      
      %h5 Group Interview
      %p
        You may be interviewed by two or more company representatives simultaneously. Sometimes, one of the interviewers is designated to ask stress questions to see how you respond under pressure. A variation of this format is for two or more company representatives to interview a group of candidates at the same time.
        
      %h3{:id => "q3"} Interviewing Strategies 
      %p
        Prepare for the interview in advance. The better prepared you are, the less anxious you will be and the greater your chances for success. These interview strategies can be used effectively to help you prepare for any type of interview:
      %ul
        %li
          %p 
            Role-play the interview with someone else. This person should be someone with whom you feel comfortable and with whom you can discuss your weaknesses freely. The person should be objective and knowledgeable, perhaps a business associate.
        %li
          %p 
            Use a mirror or video camera when you role-play to see what kind of image you project.
        %li
          %p Assess your interviewing skills. What are your strengths and weaknesses? Work on correcting your weaknesses, such as speaking rapidly, talking too loudly or softly, and nervous habits such as shaking hands or inappropriate facial expressions.

        %li
          %p Learn the questions commonly asked and prepare answers for them. Practice giving answers which are brief but thorough.

        %li
          %p Decide what questions you want to ask and practice politely interjecting them at different points in the interview.
        %li
          %p Evaluate your strengths, skills, abilities, and education as they relate to the type of job you are seeking.

        %li
          %p If you have details about the specific job before the interview, practice tailoring your answers to show how you meet the company's needs.
        %li
          %p Assess your over-all appearance. Find out what clothing is appropriate for your section of the healthcare industry. Normally conservative attire is most appropriate.

        %li
          %p Have several sets of appropriate clothing available because you may have several interviews over a few days.

        %li
          %p
            Your clothes should be clean and pressed, and your shoes polished.

        %li
          %p Make sure your hair is neat, your nails are clean, your teeth are brushed, and you are generally well-groomed.

        %li
          %p Research the company. Get as much information as you can before the interview. The more you know about the company and the job you are applying for, the better you will do in the interview.

        %li
          %p Take extra copies of your resume to the interview because the interviewer may ask for them. Make sure you bring the same version of your resume you originally sent the company.
          %p You can also refer to your resume to complete applications that ask for job history information (e.g., dates of employment, names of former employers and their telephone numbers, job responsibilities, and accomplishments).

        %li
          %p Arrive 10 to 15 minutes early for the interview. Give yourself time to find a restroom so you can check your appearance.

        %li
          %p It is important to make a good impression from the moment you enter the reception area. Greet the receptionist cordially and try to appear confident. You never know what influence the receptionist has with your interviewer. With a little small talk, you may get some helpful information about the interviewer and the job opening. If you are asked to fill out an application while you're waiting, be sure to fill it out completely.

      %h3{:id => "q4"} During the Interview 
      %p The job interview is usually a two-way discussion between you and a prospective employer. While the interviewer attempts to determine if you have what the company needs, you attempt to determine if you would accept the job if offered. Both of you will be trying to get as much information as possible in order to make those decisions.
      %p You are most likely to face a structured interview with a traditional format. It usually consists of three phases. The introductory phase covers the greeting, small talk, and an overview of which areas will be discussed during the interview. 
      %p The middle phase is a question and answer period. The interviewer asks most of the questions, but you are given an opportunity to ask questions as well. 
      %p The closing phase gives you an opportunity to ask any final questions you might have, cover any important points that haven't been discussed, and get information about the next step in the process.
        
      %h3 Some Do's and Don'ts

      %h5 Do:

      %ul
        %li Be sincere and direct
        %li Be attentive and polite
        %li Ask relevant questions
        %li Answer questions concisely
        %li Use specific examples to illustrate points

      %h5 Don't
      %ul 
        %li Smoke
        %li Try to control the entire interview
        %li Bring up salary, benefits or working hours
        %li Be too serious
        %li Let your depression or discouragement show
        %li Make negative comments about anyone or anything, including former employers
        %li Look at your watch
        %li Take extensive notes        
        
      %h3 Introductory Phase 
      %p This phase is extremely important. You want to make the best first impression possible and potentially get additional information you need about the job and the company.

      %h5 Make a Good Impression
      %p You only have a few seconds to create a positive first impression which can influence the rest of the interview and even determine whether you get the job. The interviewer's first impression of you is based mainly on non-verbal clues.
      %p They are assessing your over-all appearance and demeanor. When greeting the interviewer, be certain your handshake is firm and you make eye contact. Wait for the interviewer to signal you before you sit down. Once seated, your body language is very important in conveying a positive impression.
      %p Find a comfortable position so you don't appear tense. Lean forward slightly and maintain eye contact with the interviewer. This posture shows you are interested in what is being said. Smile naturally at appropriate times.
      %p Keep your arms and legs uncrossed to show you are open and receptive. Avoid keeping your briefcase or your handbag on your lap. Pace your movements so they are not too fast or slow. Try to appear relaxed and confident.

      %h5 Get the Information You Need 
      %p If you weren't able to get complete information about the job and company in advance, you should try to get it as early as possible in the interview.
      %p Be sure to prepare your questions in advance. Knowing the following things will allow you to present the strengths and abilities the employer wants: 

      %ul
        %li Why does the company need someone in this position?
        %li Exactly what would they expect of you? 
        %li Are they looking for traditional or innovative solutions to problems?

      %h5 When to Ask Questions
      %p The problem with a traditional interview structure is that your chance to ask questions occurs late in the interview. How can you get the information you need early in the process without making the interviewer feel you are taking control?
      %p Deciding exactly when to ask your questions is the tricky part. Timing is everything. You may have to make a decision based on intuition and your first impressions of the interviewer. Does the interviewer seem comfortable or nervous, soft-spoken or forceful, formal or casual? These signals will help you judge the best time to ask your questions.
      %p The sooner you ask the questions, the less likely you are to disrupt the interviewer's agenda. However, if you ask questions too early, the interviewer may feel you are trying to control the interview.
      %p Try asking questions right after the greeting and small talk. Since most interviewers like to set the tone of the interview and maintain initial control, always phrase your questions in a way that leaves control with the interviewer.
      %p Perhaps say, "Would you mind telling me a little more about the job so I can focus on the information most important to the company?" If there is no job opening but you are trying to develop one or you need more information about the company, try saying, "Could you tell me a little more about where the company is going so I can focus on the most relevant areas of my background?"
      %p You may want to wait until the interviewer has given an overview of what will be discussed. This overview may answer some of your questions or may provide some details you can use to ask additional questions. Once the middle phase of the interview has begun, you may find it more difficult to ask questions.
      
      %h3 Middle Phase
      %p During this phase of the interview, you will be asked many questions about your work experience, skills, education, activities, and interests. You are being assessed on how you will perform the job in relation to the company objectives.
      %p All your responses should be concise. Use specific examples to illustrate your point whenever possible. Although your responses should be prepared in advance so they are well phrased and effective, be sure they do not sound rehearsed. Remember your responses must always be adapted to the present interview.
      %p Incorporate any information you obtained earlier in the interview with the responses you prepared in advance and then answer in a way appropriate to the question.
      %p Below are frequently asked questions and some suggested responses:
      %h4 "Tell me about yourself."

      %p Briefly describe your experience and background. If you are unsure what information the interviewer is seeking, ask, "Are there any areas in particular you'd like to know about?"
      %h4 "What is your weakest point?" (A stress question) 
      %p Some examples are: 
      %ul
        %li
          %p "I'm something of a perfectionist."
        %li
          %p "I'm a stickler for punctuality."
        %li
          %p "I'm tenacious." Give a specific situation from your previous job to illustrate your point.
        %li
          %p "What is your strongest point?"
      %p Mention something that is actually a strength. Some examples are:
      %ul 
        %li
          %p "I work well under pressure."
        %li
          %p "I am organized and manage my time well."
      
      %p If you have just graduated from college you might say, "I am eager to learn, and I don't have to unlearn old techniques."
      
      %h5 "What do you hope to be doing five years from now?" 

      %p "I hope my performance here will have increased my responsibilities."
      
      %h5 "Why have you been out of work for so long?" (A stress question) 
      %ul 
        %li 
          %p "I spent time re-evaluating my past experiences and the current job market to see what direction I wanted to take" 
        %li 
          %p "I had some offers, but I'm not just looking for another job; I'm looking for a career."
      %h5 "What do you know about our company? Why do you want to work here?" 
      %p This is where your research on the company will come in handy.
      %ul
        %li
          %p "You are a small/large firm and a leading force in the local/national economy." 

        %li
          %p "Your company is a leader in your field and growing." 

          %li
            %p "Your company has a superior product/service." 

      %p You might try to get the interviewer to give you additional information about the company by saying you are very interested in learning more about the company objectives. This will help you focus your response on relevant areas.

      %h5 "What is your greatest accomplishment?" 
      %p Give a specific illustration from your previous or current job where you saved the company money or helped increase their profits. If you just graduated from college, try to find some accomplishment from your schoolwork, part-time jobs, or extra-curricular activities.

      %h5 "Why should we hire you?" (A stress question) 

      %p Highlight your background based on the company's current needs. Recap your qualifications keeping the interviewer's job description in mind. If you don't have much experience, talk about how your education and training prepared you for this job.
              
      %h5  "Why do you want to make a change now?"
      %h5 "I want to develop my potential."
      %h5 "The opportunities in my present company are limited."
      %h5 "Tell me about a problem you had in your last job and how you resolved it." 

      %p The employer wants to assess your analytical skills and see if you are a team player. Select a problem from your last job and explain how you solved it.
      
      %h5 Some questions you should ask.

      %ul
        %li "What are the company's current challenges?"
        %li "Could you give me a more detailed job description?"
        %li "Why is this position open?"
        %li "Are there opportunities for advancement?"
        %li "To whom would I report?"

      %h3 Closing Phase

      %p During the closing phase of an interview, you will be asked whether you have any other questions. Ask any relevant question that have not been answered. Highlight any of your strengths that have not been discussed.
      %p If another interview is to be scheduled, get the necessary information. If this is the final interview, find out when the decision will be made and when you can call to follow up.
      %p Thank the interviewer by name and say good-bye.
              
      %h3{:id => "q5"} After the Interview 

      %p You are not finished yet. It is important to assess the interview shortly after it is concluded. Following your interview you should:
      
      %ul
        %li Write down the name and title (be sure the spelling is correct) of the interviewer
        %li Review what the job entails and record what the next step will be
        %li Note your reactions to the interview; include what went well and what went poorly
        %li Assess what you learned from the experience and how you can improve your performance in future interviews
        %li Make sure you send a thank you note within 24 hours
      
      %p Your thank-you note should:
      %ul
        %li Be hand-written only if you have very good handwriting; most people type thank-you notes
        %li Be on good quality paper
        %li Be simple and brief 
        %li Express your appreciation for the interviewer's time
        %li Show enthusiasm for the job
        %li Get across that you want the job and can do it
      
      %p Everyone knows a thank you note should be sent after an interview, but very few people actually send one. Make sure you are one of those few. It could give you the edge.

      %h5 Phone Follow-Up
      %p If you were not told during the interview when a hiring decision will be made, call after one week. At that time, if you learn the decision has not been made, find out whether you are still under consideration for the job.
      %p Ask if there are any other questions the interviewer might have about your qualifications and offer to come in for another interview if necessary. Reiterate you are very interested in the job.
      %p If you learn you did not get the job try to find out why. You might also inquire whether the interviewer can think of anyone else who might be able to use someone with your abilities, either in another department or at another company.
      %p If you are offered the job, you have to decide whether you want it. If you are not sure, thank the employer and ask for several days to think about it. Ask any other questions you might need answered to help you with the decision.
      %p If you know you want the job and have all the information you need, accept the job with thanks and get the details on when you start. Ask whether the employer will be sending a letter of confirmation, as it is best to have the offer in writing. 
      
      %h3{:id => "q6"} Illegal Questions 
      %p During an interview, you may be asked some questions that are considered illegal. It is illegal for an interviewer to ask you questions related to sex, age, race, religion, national origin, marital status or to delve into your personal life for information not job-related.
      %p What can you do if you are asked an illegal question? Take a moment to evaluate the situation. Ask yourself questions like:
      %ul
        %li How uncomfortable has this question made me feel?
        %li Does the interviewer seem unaware that the question is illegal?
        %li Is this interviewer going to be my boss?

      %p Then respond in a way that is comfortable for you. If you decide to answer the question, be succinct and try to move the conversation back to an examination of your skills and abilities as quickly as possible.
      %p For example, if asked about your age, you might reply, "I'm in my forties and I have a wealth of experience that would be an asset to your company."
      %p If you are not sure whether you want to answer the question, first ask for a clarification of how this question relates to your qualifications for the job. You may decide to answer if there is a reasonable explanation.
      %p If you feel there is no justification for the question, you might say you do not see the relationship between the question and your qualifications for the job and you prefer not to answer it.
      
      %h3{:id => "q7"} Negotiating Your Compensation Package 
      %p Do not discuss your specific compensation package, especially salary, with the employer until you have been offered the job and you think it is an offer you should seriously consider.
      %p During salary negotiations, you are not only talking about your monetary salary, but your entire compensation package. This includes vacation time, sick leave, health insurance, tuition reimbursement, and other benefits the company may offer.
      %p Your base salary and performance-based raises are probably the most negotiable parts of your compensation package. However, many companies do have a cafeteria approach to benefits where you select from a number of benefit options based on a total monetary cost.
      %p In other words, the company will spend a certain amount of money on each employee for benefits. This gives employees some flexibility on which benefit options they select. For example, employees with children might select childcare reimbursement benefits, while employees interested in going back to school might choose tuition reimbursement.
      %p When negotiating your compensation package, it is important to keep in mind the total package.
      %p Make sure you consider all benefits the company has to offer, not just salary. Before you begin negotiating your compensation, decide which benefits are most important to you, so you are ready to talk to the employer.

      %h3 Salary Negotiations 
      %p Like other parts of the job search process, the key to salary negotiations is preparation. It is very important for you to do your research before you begin salary negotiations.
      %p In order to determine the salary you are willing to accept, investigate the salary range someone with your skills and experience can expect to receive.
      
      %h3{:id => "q8"} How Do You Find Salary Information?

      %h3 The Library
      %p Your local library should have a number of references where you can find the salary ranges for the occupation you are considering. The reference librarian can provide assistance in locating salary information resources. Some reference books include:

      %h5 State and Metropolitan Area Data Book
      %p Published by the U.S. Department of Commerce; compiles statistical data from many public and private agencies; includes unemployment rates, rate of employment growth, and population growth for every state; presents a vast amount of data on employment and income for metropolitan areas across the country.

      %h5 White Collar Pay
      %p Private Goods-Producing Industries Produced by the U.S. Department of Labor's Bureau of Labor Statistics; good source of salary information for white collar jobs.

      %h5 AMS Office, Professional and Data Processing Salaries Report (Administrative Management Society, Washington, D.C.) 
      %p Salary distributions for 40 different occupations, many of which are professional; subdivided by company size, type of business, region of the country and by 41 different metropolitan areas.
      %h5 American Salaries and Wages Survey (Gale Research, Detroit)
      %p Provides detailed information on salaries and wages for thousands of jobs. Data is subdivided geographically and gives cost-of-living data for selected areas, which is very helpful in determining salary differences. Provides information on the number of people employed in each occupation, along with projected changes.
      
      %h5 American Almanac of Jobs and Salaries (Avon Books, NY) 
      %p Information on wages for specific occupations and job groups, many of which are professional and white collar. Presents trends in employment and wages.
      
      %h3 Professional Associations
      %p Professional associations conduct salary surveys both nationally and regionally; and provide salary/compensation information received from membership. 

      %h3 Your network 
      %p Talk to colleagues in your professional network; discuss salary ranges.

      %h3 Job Search Centers
      %p Job search centers frequently keep salary information. It can be found in schools, libraries, community centers or as part of federal, state, or local government programs.

      %h3 Your Past Experience
      %p Consider your past salary. Your previous salary is a starting point for salary negotiation if the position you are applying for does not dramatically differ from your former position.

      %h3{:id => "q9"} Second Interview / The Negotiation Meeting 
      %p Once you have a good feeling for the type of salary and benefits you are willing to accept, it's time to negotiate with the company. Don't sell yourself short during these negotiations.
      %p Usually, when a company is ready to make you an offer they have invested a lot of time and money in their search for a qualified employee. You don't want to be overly aggressive with the employer, but you do want to receive a fair compensation package.
      %p If the employer makes you an offer that does not seem equitable, discuss your concerns with the employer. Present your concerns about the benefits package in a constructive, non-threatening manner. Focus on the reasons you have concerns, as opposed to making general statements about what you think you deserve.
      %p For example, it won't be productive to simply state, "I must have more money." It would be more productive to explain that the company's offer is less than you were making previously and you would like them to match your previous salary.
      %p In most situations, employers do have some flexibility in what they can offer an applicant.
      %p They might be able to offer you more money or compensate you with additional benefits (e.g., more vacation leave). Some companies can offer a signing bonus to compensate for other weaknesses in their compensation package.
      %p When you are considering the offer, make sure you are taking the entire benefits package into account. Sometimes excellent benefits can compensate for a lower salary. If you really want the job, but the offer still seems low after negotiations, see if the employer will consider a salary review three to six months from your starting date.
      %p Usually, you don't have to make a decision about the offer immediately. Ask the employer for a couple of days so you can carefully consider the position and the offer.
      %p If you do come to an agreement with the employer, find out when you can expect to receive the offer in writing. It is very important to get the official offer documented. An official letter usually means the management at the company has approved your acceptance of their offer.
       