- @page_title = "Job Consulting that Inspires"

%section.first
  .row
    .eight.columns
      %hgroup.call
        %h1
          Job Consulting that Delivers a Fresh Perspective
    .four.columns
      = render :partial => 'shared/public/social_links'

%section.employers
  .row
    .eight.columns
      .point
        = image_tag "https://s3.amazonaws.com/new-assets.jsasearch.net/consulting.jpg", :alt => "JSA for Employers"

      %h3 Experienced Consulting Services

      %p JSA SEARCH INC. partners with some of the nations brightest and most talented business leaders as consultants.

      %p If your company is seeking assistance with any operational issues, please contact John Sherman at jsherman@jsasearch.net. Below are a few of the topics our partners focus on:
      %ul
        %li Financial Operations
        %li Auditing
        %li Employment Issues
        %li Labor Law

      %h3 Motivational Speaking

      %p
        We offer motivational speaking for the work place in partnership with
        %strong Jairek Robbins - son of Anthony Robbins
        (World famous Speaker and Performance Coach).

      %h3 Resume Services

      %p
        Ensure you interview for the jobs you want with an exceptional resume. At JSA we help you refine your resume and highlight your strengths so you get noticed. Professionally designed and exceptionally well written, we will help you move to the top of the applicant pool with a premier resume.

    .four.columns
      = render :partial => "shared/employer_nav"