- @page_title = "Accounting and Finance Consulting"

%section.first
  .row
    .eight.columns
      %hgroup.call
        %h1
          Accounting and Finance Staffing that Makes Sense
    .four.columns
      = render :partial => 'shared/public/social_links'

%section.employers
  .row
    .eight.columns
      .point
        = image_tag "https://s3.amazonaws.com/new-assets.jsasearch.net/finances.jpg", :alt => "JSA for Employers"

      %h3 Placing Qualified Financial Workers

      %p The JSA Search Accounting and Financial division provides highly skilled accounting and financial professionals on a temporary, project, and full time staffing basis. Our financial staffing recruiters have specialized backgrounds and complete understandings of your unique needs. We match you with the most highly qualified candidates for your specific requirements – and every placement is backed by our guarantee.

      %h3 Focusing on Character, Skill, and Accountability

      %p We are committed to understanding your needs, concerns, and goals for each hire. Our recruiting professionals strive to resolve your hiring manager’s concerns so we can provide you with the most valuable prospects. It is our goal to fill your temporary and permanent staffing needs with successful candidates.
    .four.columns
      = render :partial => "shared/employer_nav"