- @page_title = "Job Placement for HealthCare Facilities"

%section.first
  .row
    .eight.columns
      %hgroup.call
        %h1
          Find the Right Medical Professionals to Deliver Your Standard of Care
    .four.columns
      = render :partial => 'shared/public/social_links'

%section.employers
  .row
    .eight.columns
      .point
        = image_tag "https://s3.amazonaws.com/new-assets.jsasearch.net/healthcare.jpg", :alt => "JSA for Healthcare Employers"

        %h3 From the CEO to the CNA.

        %p At JSA SEARCH INC., we place only the best, most qualified candidates into the healthcare field. The success of our healthcare recruiters continues to earn the trust and respect of the nation's premier long-term care, assisted living, hospital organizations, and candidates we've placed.

        %p We have over 10 years of experience placing Corporate Executives, Regional Managers, Administrators and Directors of Nursing, MDS Coordinator, Business Office Manager, Staff Developer, Admissions, Marketing, Dietary Positions, RN's, LPN's, LVN's, Therapists, Pharmacist, and many more.

    .four.columns
      = render :partial => "shared/employer_nav"
