- @page_title = "Interim Staffing on Demand"

%section.first
  .row
    .eight.columns
      %hgroup.call
        %h1
          Interim Staffing that Delivers the Right People. Fast.
    .four.columns
      = render :partial => 'shared/public/social_links'

%section.employers
  .row
    .eight.columns
      .point
        = image_tag "https://s3.amazonaws.com/new-assets.jsasearch.net/staffing.jpg", :alt => "JSA for Healthcare Employers"

        %h3 Delivering Trusted Interim Staffing

        %p We are passionate about performance - yours and ours. Our healthcare recruiters are serious about fulfilling our promises and exceeding your expectations. JSA offers both short and long-term temporary staffing, temp-to-hire, and direct placement. We conduct ongoing healthcare recruitment campaigns to attract the most qualified employees.

        %p Our candidate database includes professionals with extensive knowledge in their industries, as well as clerical employees with a broad variety of experiences. Each candidate is thoroughly screened before they are presented to you.
    .four.columns
      = render :partial => "shared/employer_nav"
