<table width="500px" border="0" cellspacing="0" cellpadding="0" style="background-color:#ffffff;" >
  <tr>
    <td valign="center" style="padding-top:15px;padding-right:15px;padding-left:15px;padding-bottom:15px;background-color:#D8E2E7;border-radius:4px;">
      <%= ApplicationController.helpers.simple_format(ApplicationController.helpers.strip_tags(content_bubble.content), :style => "margin-bottom:15px;margin-left:0;margin-right:0;margin-top:0;font-size:14px;color:#003946;line-height:1.5;font-family: Georgia, Cambria, 'Times New Roman', Times, serif;") %>
    </td>
  </tr>
  <tr>
    <td valign="top" style="padding-top:0;padding-right:0;padding-left:30px;padding-bottom:0;">
      <div style="width:1px;min-height:1px;display:block;border-width:8px;border-style:solid;border-color:#D8E2E7 white white white;"></div>
    </td>
  </tr>
</table>