<p>Dear <%= @employee.name.split(" ").first %>,</p>

<p>Attached is your <%= @klass.camelize %> Export.</p>

<p>
	Thanks,<br/>
	The Team at JSA Search, Inc.
</p>

<p>
------------------------------------------------------------<br/>
JSA Search, Inc. / 866-572-8326 / jsasearch.net<br/>
23120 Alicia Parkway Suite 110<br/>
Mission Viejo, CA 92692
</p>
