var message = "";
$(".modal").remove();
$('#flash').remove();

message = "Facilities Sorted";

$(".facility_section").html("<%= escape_javascript(render :partial => 'shared/index/facility') %>");

$("header#banner").after('<div id="flash"><div id="notice">'+ message +'</div></div>');
var flashMargin = ($(window).width() - $("#flash").width()) / 2; 
$("#flash").css({'left' : flashMargin+"px"});
$("#flash").delay(5000).fadeOut('slow', function() {$(this).remove();});