.row.subscriber
  .six.columns
    %hgroup
      %h2 Stay in Contact
    %p Join our email lists to stay up-to-date with the latest job openings, placement tips, and industry news.
    %p Whether you are looking for a job or looking to hire, JSA Search can help you make the best choices along the way.
    %p We respect your privacy and will only use your email to send you news and job information.
    %p
      %a.button.green{:href => "/newsletters", :title => "View Recent Newsletters"}
        View Recent Newsletters

  .six.columns
    %dl.tabs.nice.mobile
      %dd
        %a.active{:href => "#candidateList"} Candidates
      %dd
        %a{:href => "#clientList"} Employers

    %ul.tabs-content.nice
      %li#candidateListTab.active
        %h5 Join Our Candidate Email List
        %form#subForm.nice.form.f2{:action => "https://jsasearch.createsend.com/t/j/s/jliyg/",
                                   :method => "post"}
          %p
            %label{:for => "name"} Name:
            %input#name.input-text{:name => "cm-name", :type => "text"}
          %p
            %label{:for => "jliyg-jliyg"} Email:
            %input#jliyg-jliyg.input-text{:name => "cm-jliyg-jliyg", :type => "text"}
          %p
            %label{:for => "Clients"}
              %input#Clients{:name => "cm-ol-jltilu", :type => "checkbox"}
              Join our Employer List as well
          %p
            %input.button.green.small{:type => "submit", :value => "Subscribe"}
      %li#clientListTab
        %h5 Join Our Employer Email List
        %form#subForm.nice.form.f2{:action => "https://jsasearch.createsend.com/t/j/s/jltilu/",
                                   :method => "post"}
          %p
            %label{:for => "name"} Name:
            %input#name.input-text{:name => "cm-name", :type => "text"}
          %p
            %label{:for => "jltilu-jltilu"} Email:
            %input#jltilu-jltilu.input-text{:name => "cm-jltilu-jltilu", :type => "text"}
          %p
            %label{:for => "Candidates"}
              %input#Candidates{:name => "cm-ol-jliyg", :type => "checkbox"}
              Join our Candidate List as well
          %p
            %input.button.green.small{:type => "submit", :value => "Subscribe"}