.twitter-links
	%a{ :href => "https://twitter.com/share",
	    :class => "twitter-share-button",
	    :data => { :via => "jsasearch", :count => "none"} }
		Tweet
	%a{ :href => "https://twitter.com/jsasearch",
	    :class => "twitter-follow-button",
	    :data => { 'show-count' => "false"} }
		Follow @jsasearch
/ .fb-like{ 'data-href' => request.url,
/ 					'data-send' => "true",
/ 					'data-layout' => "button_count",
/ 					'data-width' => "200",
/ 					'data-show-faces' => "false",
/ 					'data-font' => "lucida grande" }
.fb-like-box{ 'data-href' => "https://www.facebook.com/JSASearchInc",
							'data-width' => "300",
							'data-show-faces' => "false",
							'data-stream' => "false",
							'data-header' => "false" }

